@media screen and (max-width: 500px) {
  .blogItem_title {
    color: red;
  }
}

.blogs {
  background-color: rgb(255, 254, 255);
  margin-bottom: 2px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blogItem_title {
  font-size: 40px;
  font-style: bold;
  margin-bottom: 10px;
}

.blogItem_description {
  color: slategray;
  margin-bottom: 50px;
}

.blogItem_img {
  padding-top: 30px;
  height: 160px;
  width: 200px;
}

.blogItem_author {
  color: rgb(79, 79, 79);
  padding-bottom: 20px;
}

a {
  color: black;
  text-decoration: none;
  display: flex;
}
